<div class="my-6">
  <h2 class="text-2xl">
    You'll Save Time and Money!
  </h2>
  <p class="text-lg">
    With our competive pricing and optimized workflows. We'll work behind the scenes doing the day-to-day administrative
    stuff so you can focus on growth.
  </p>
</div>
<div class="my-6">
  <h2 class="text-2xl">Personalized Service</h2>
  <p class="text-lg">
    We've processed hundreds of month end accounting cycles and have
    optimized our work flow to a point where it's an art.
  </p>
</div>

<div class="my-6">
  <h2 class="text-2xl">
    You'll Save Time and Money!
  </h2>
  <p class="text-lg">
    We've processed hundreds of month end accounting cycles and have
    optimized our work flow to a point where it's an art.
  </p>
</div>