<div class="my-6">
  <h2 class="text-xl font-bold">
    You'll Save Time and Money!
  </h2>
  <p class="text-lg">
    With our competive pricing and optimized workflows, your day-to-day administrative
    tasks will free up your schedule so you can maximize your potential.
  </p>
</div>
<div class="my-6">
  <h2 class="text-xl font-bold">Personalized Service</h2>
  <p class="text-lg">Unlike larger firms, we're not just a name on a website. We're dedicated
    bookkeepers. We take the time to get to know your business, your goals, and your financial needs. When you need to speak with a human, we're just a phone call away.</p>
</div>

<div class="my-6">
  <h2 class="text-xl font-bold">
    You'll Save Time and Money!
  </h2>
  <p class="text-lg">
    We've processed hundreds of month end accounting cycles and have
    optimized our work flow to a point where it's an art.
  </p>
</div>