<section class="mb-8 p-4 md:w-2/3 md:m-auto">
  <div class="pb-8">
  <h2 class="text-3xl mb-2 font-bold text-slate-800 text-center">Get in Touch</h2>
  <p class="text-center">Contact us for immediate bookkeeping assistance.</p>
</div>
  <div class="flex justify-center">
    <svg class="h-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
    </svg>
  </div>

  <h3 class="text-xl font-bold text-center pb-2">Email</h3>
  <div class="text-center text-xl pb-4">
    <script>
      document.write('<a class="underline" href="mailto:' + m1 + m3 + m4 + m5 + m2 + '">' + m1 + m3 + m4 + m5 + m2 + '</a>');
    </script>
  </div>
  <p class="text-center text-xs">Send us an email and we'll get back to you promptly.<br>We will never share your email with anyone.</p>
</section>