<section class="pb-8">
  <div class="no-underline max-w-5xl m-auto px-5">
    <div class="sm:grid sm:grid-cols-2 sm:gap-6 sm:items-center">
      <div>
        <h2 class="text-4xl font-bold text-slate-950 my-4">Simplify Your Bookkeeping with Us</h2>
        <p class="text-base text-slate-950 mb-10">Efficient and Reliable Virtual Bookkeeping Services for Small Businesses</p>
      </div>
    </div>
    <div class="pb-8">
      <a class="button-dark" href="#contact">Sign up</a>
      <a class="button-light" href="#contact">Get in Touch</a>
    </div>
    
  </div>
</section>