<section class="features-list-section py-8">
  <div class="sm:grid sm:grid-cols-3 sm:gap-8">
    <div class="py-6">
      <div class="flex justify-center py-8">
        <svg class="h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path
            d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z" />
        </svg>
      </div>
      <div>
        <h3 class="text-2xl font-bold text-center pb-6">Streamline Your Finances with Our Virtual Bookkeeping Service
        </h3>
        <p class="text-center pb-8">Get real-time financial updates and stay on top of your business's financial health.
          Our virtual bookkeeping
          service provides you with accurate and up-to-date financial information, giving you the insights you need to
          make informed decisions.</p>
        <div class="flex justify-center items-center">
          <a class="button-light mr-4" href="#">Learn More</a>
          <a href="#">Sign Up<span class="ml-3">></span></a>
        </div>
      </div>
    </div>
    <div class="py-6">
      <div class="flex justify-center py-8">
        <svg class="h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path
            d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z" />
        </svg>
      </div>
      <div>
        <h3 class="text-2xl font-bold text-center pb-6">Efficient Tax Preparation for Small Businesses and Individuals
        </h3>
        <p class="text-center pb-8">Leave the hassle of tax preparation to us. Our experienced team will ensure that
          your taxes are prepared accurately and on time, saving you time and stress.</p>
        <div class="flex justify-center items-center">
          <a class="button-light mr-4" href="#">Learn More</a>
          <a href="#">Sign Up<span class="ml-3">></span></a>
        </div>
      </div>
    </div>
    <div class="py-6">
      <div class="flex justify-center py-8">
        <svg class="h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path
            d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z" />
        </svg>
      </div>
      <div>
        <h3 class="text-2xl font-bold text-center pb-6">Track Your Expenses with Ease and Precision</h3>
        <p class="text-center pb-8">Say goodbye to manual expense tracking. Our virtual bookkeeping service automates
          the process, making it easy for you to keep track of your expenses and stay organized.</p>

        <div class="flex justify-center items-center">
          <a class="button-light mr-4" href="#">Learn More</a>
          <a href="#">Sign Up<span class="ml-3">></span></a>
        </div>
      </div>
    </div>
  </div>

  </div>
</section>