<section class="feature-section py-8">
  <div class="max-w-5xl m-auto px-5">
    <h2 class="text-3xl font-bold text-slate-950 mb-6">Providing Personalized Bookkeeping Solutions for Solopreneurs and
      Small Businesses</h2>
    <p class="text-base text-slate-950 mb-6">Our virtual bookkeeping service offers a tailored approach to meet the unique needs of solopreneurs and small
      businesses. With our expertise, you can focus on what you do best while we handle your financials.</p>
  <h3 class="text-lg font-bold mb-2">Streamlined Solutions</h3>
  <p class="mb-6">Efficient and accurate bookkeeping services designed to save you time and money.</p>
  <h3 class="text-lg font-bold mb-2">Expert Guidance</h3>
  <p class="mb-6">Our team of experienced professionals will provide you with reliable financial advice and support.</p>
<img src="https://placehold.co/400?text=Image\nPlaceholder" alt="">
  </div>
</section>