<section class="feature-section container m-auto">
  <div class="sm:grid sm:grid-cols-2 sm:gap-8">
    <div class="sm:order-2">
      <h2 class="text-3xl font-bold mb-4 sm:col-span-1">Personalized Bookkeeping Solutions for Solopreneurs and
        Small Businesses</h2>
      <p class="text-base text-slate-950 mb-4">Our virtual bookkeeping service offers a tailored approach to meet the
        unique needs of solopreneurs and small
        businesses. With our expertise, you can focus on what you do best while we handle your financials.</p>
    </div>
    <div class="sm:col-span-2 order-3">
      <div class="sm:grid sm:grid-cols-2 sm:gap-8">
        <div>
          <h3 class="text-lg font-bold mb-2">Streamlined Solutions</h3>
          <p class="mb-6">Efficient and accurate bookkeeping services designed to save you time and money.</p>
        </div>
        <div>
          <h3 class="text-lg font-bold mb-2">Expert Guidance</h3>
          <p class="mb-6">Our team of experienced professionals will provide you with reliable financial advice and
            support.
          </p>
        </div>
      </div>
    </div>
    <div class="sm:grid sm:place-items-center sm:order-1 pb-8 sm:pb-0">
      <img class="sm:w-full sm:h-96 sm:object-cover" src="https://placehold.co/640X480?text=Image\nPlaceholder" alt="">
    </div>
  </div>
</section>