<header>
  <nav class="my-4">
    <div class="flex justify-between items-center">
      <a class="text-xl" href="#">RM Bookkeeping</a>
      <div id="navbarSupportedContent">
        <ul class="flex justify-end">
          <li class="ml-6">
            <a aria-current="page" href="#">Service</a>
          </li>
            <li class="ml-6">
            <a aria-current="page" href="#">About</a>
          </li>
         <li class="ml-6">
            <a aria-current="page" href="#">Blog</a>
          </li>
         <li class="ml-6">
            <a class="border-2 border-yellow-600 rounded-md py-2 px-2 bg-yellow-600 text-white"  aria-current="page" href="#">Contact</a>
          </li>

      </div>
    </div>
  </nav>
</header>