<header>
  <nav class="grid grid-cols-2 sm:flex justify-between items-center">
    <!-- Logo -->
    <a class="my-4 text-xl" href="/"><span class="text-xl font-bold"><span>
          RM Bookkeeping</span></a>
      <!-- Hamgurger Icon -->

      <div class="sm:hidden px-4 cursor-pointer flex justify-end" id="burger">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
      <!-- <div class="hidden sm:block"> -->
      <ul class="hidden sm:flex col-span-2" id="menu">
        <li class="text-right mr-5 my-4 sm:ml-8">
          <a aria-current="page" href="#">Service</a>
        </li>
        <li class="text-right mr-5 my-4 sm:ml-8">
          <a aria-current="page" href="/about">About</a>
        </li>
        <li class="text-right mr-5 my-4 sm:ml-8">
          <a aria-current="page" href="#">Blog</a>
        </li>
        <li class="text-right mr-5 my-4 sm:ml-8">
          <a aria-current="page" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>