<header>
  <nav class="my-4">
    <div class="flex justify-between items-center text-slate-800">
      <a class="text-xl" href="/"><span class="text-xl font-bold"><span>
            RM Bookkeeping</span></a>
      <div class="sm:hidden cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
      <div class="hidden sm:block">
        <ul class="sm:flex flex-wrap flex-col mt-2 sm:flex-nowrap sm:flex-row">
          <li class="sm:ml-8 mb-2">
            <a aria-current="page" href="#">Service</a>
          </li>
          <li class="sm:ml-8 mb-2">
            <a aria-current="page" href="#">About</a>
          </li>
          <li class="sm:ml-8 mb-2">
            <a aria-current="page" href="#">Blog</a>
          </li>
          <li class="sm:ml-8 mb-2">
            <a aria-current="page" href="#">Contact</a>
          </li>

      </div>
    </div>
  </nav>
</header>
<!-- <div class="inline-block leading-3"><span class="text-xs">Bookkeeping<span class="block text-xs ">Services Inc</span></span></div> -->