<div>
  <h1 class="text-6xl my-10">Welcome to<br>Rod Maiato's Virtual Bookkeeping Services
  </h1>
  <p class="text-xl">As a solopreneur, I understand the unique challenges and needs of small businesses. Your success is
    my passion, and
    I'm here to offer you more than just bookkeeping – I offer a
    partnership.</p>
  <img class="w-full object-cover rounded-md my-8" src="img/hero-img.jpg" alt="">
  <div class="my-10">
    <a class="border-2 py-3 px-3 border-green-600 rounded-md font-medium hover:bg-white hover:text-green-600 hover:dark:text-green-600 bg-green-600 text-white"
      href="#">Let's Get Started</a>
  </div>
</div>