<section class="hero-section py-8 sm:py-20">
  <div class="sm:grid sm:grid-cols-2 sm:items-center sm:gap-8">
    <div class="pb-8">
      <div>
        <h2 class="text-4xl pb-4 lg:text-5xl font-bold text-slate-950">Effortless Bookkeeping Solutions for Small
          Businesses
        </h2>
        <p class="text-base pb-4 text-slate-950">Streamline your financial management with our virtual bookkeeping
          services. We cater to the unique needs of small businesses and entrepreneurs, providing convenience and
          peace
          of mind.</p>
      </div>
      <div>
        <a class="button-dark" href="#contact">Learn More</a>
        <a class="button-light" href="#contact">Sign up</a>
      </div>
    </div>
    <!-- Hero image -->
    <div class="grid place-items-center pb-8 md:pb-0">
      <img class="sm:w-full sm:h-96 sm:object-cover" class="block" src="https://placehold.com/640X480?text=Image\nPlaceholder" alt="">
    </div>
  </div>
</section>
