<section class="pb-8">
  <div class="container m-auto px-5 text-slate-950">
    <div class="sm:grid sm:grid-cols-2 sm:gap-6 sm:items-center">
      <div>
        <h2 class="text-4xl font-bold text-slate-950 my-4">Effortless Bookkeeping Solutions for Small Businesses</h2>
        <p class="text-base text-slate-950 mb-10">Streamline your financial management with our virtual bookkeeping services. We cater to the unique needs of small businesses and entrepreneurs, providing convenience and peace of mind.</p>
      </div>
    </div>
    <div class="pb-8">
      <a class="button-dark" href="#contact">Learn More</a>
      <a class="button-light" href="#contact">Sign up</a>
    </div>
    <div>
      <img class="py-8" src="https://placehold.co/400?text=Image\nPlaceholder" alt="">
    </div>
  </div>
</section>