<section class="pb-8">
  <div class="sm:grid sm:grid-cols-2 sm:gap-6 sm:items-center">
    <div>
      <h1 class="text-4xl sm:text-6xl md:text-7xl font-bold text-slate-700 my-10">Focus on Growth While We Handle the Numbers!</h1>
      <p class="text-xl text-stone-700">With our support, you get more time to stay in the zone and build a successful
        business. Say goodbye to daily administrative tasks!</p>
    </div>
    <div>
      <img class="h-60 w-full sm:h-[480px] object-cover object-right-top rounded-lg my-8"
        src="img/hero-img.jpg" alt="">
    </div>
  </div>
  <div class="mt-10 block">
    <a class="button" href="#">Book My Free Consultation</a>
  </div>
</section>