<section class="text-slate-800">
  <div class="container px-5 py-24 mx-auto">
    <h2 class="text-3xl font-bold text-center pb-16">What People Are Saying</h2>
    <div class="flex flex-wrap -m-4">
      <!-- Card 1 -->
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-blue-200 p-8 rounded">
          <img src="/img/quote-14-128.png" alt="quotations" class="h-12 w-12">
          <p class="font-semibold mb-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit nesciunt,
            consequuntur voluptate culpa cum ullam officiis fugit corrupti alias rem!</p>
          <!-- Customer Image and Category -->
          <div class="inline-flex items-center">
            <img src="/img/client.jpg" alt="testimonial" class="w-12 h-12 rounded-full object-cover object-center">
            <span class="flex flex-col pl-4">
              <span class="font-bold text-gray-600">Rod Maiato</span>
              <span class="text-sm">Arrow Speed Controls Ltd</span>
            </span>
          </div>
        </div>
      </div>
      <!-- Card 1 -->
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-blue-200 p-8 rounded">
          <img src="/img/quote-14-128.png" alt="quotations" class="h-12 w-12">
          <p class="font-semibold mb-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit nesciunt,
            consequuntur voluptate culpa cum ullam officiis fugit corrupti alias rem!</p>
          <!-- Customer Image and Category -->
          <div class="inline-flex items-center">
            <img src="/img/client.jpg" alt="testimonial" class="w-12 h-12 rounded-full object-cover object-center">
            <span class="flex flex-col pl-4">
              <span class="font-bold text-gray-600">Rod Maiato</span>
              <span class="text-sm">Arrow Speed Controls Ltd</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>