<section class="text-slate-800 pb-8">
  <div>
    <h2 class="text-3xl font-bold text-center text-slate-700 pb-8">Testimonials</h2>
    <!-- <p class="text-center italic -mt-8 mb-10">What our customers are saying</p> -->
    <div class="flex flex-wrap">
      <!-- Card 1 -->
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-slate-200 p-8 rounded">
          <img src="/img/quote-14-128.png" alt="quotations" class="h-12 w-12">
          <p class="font-semibold mb-6">These guys are reliable and know what they're doing. Always available when I call. I highly recommend! Excellent customer service.</p>
          <!-- Customer Image and Category -->
          <div class="inline-flex items-center">
            <img src="/img/client.jpg" alt="testimonial" class="w-12 h-12 rounded-full object-cover object-center">
            <span class="flex flex-col pl-4">
              <span class="font-bold text-slate-600">Rod Maiato</span>
              <span class="text-sm">Arrow Speed Controls Ltd</span>
              <span class="text-sm">⭐⭐⭐⭐⭐</span>
            </span>
          </div>
        </div>
      </div>
      <!-- Card 1 -->
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-slate-200 p-8 rounded">
          <img src="/img/quote-14-128.png" alt="quotations" class="h-12 w-12">
          <p class="font-semibold mb-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit nesciunt,
            consequuntur voluptate culpa cum ullam officiis fugit corrupti alias rem!</p>
          <!-- Customer Image and Category -->
          <div class="inline-flex items-center">
            <img src="/img/client.jpg" alt="testimonial" class="w-12 h-12 rounded-full object-cover object-center">
            <span class="flex flex-col pl-4">
              <span class="font-bold text-slate-600">Rod Maiato</span>
              <span class="text-sm">Arrow Speed Controls Ltd</span>
              <span class="text-sm">⭐⭐⭐⭐⭐</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>